/* 
    Created on : May 2, 2015, 11:39:29 PM
    Author     : Mario Aichinger <aichingm@gmail.com>
*/

html , body, body > canvas{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    overflow: hidden;
}
body > canvas{
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
}

#settings{
    position: fixed;
    top: 0;
    bottom:0;
    right: -200px;
    background-color: #6571be;
    width: 200px;
    box-shadow: -0px 0px 7px 0px rgba(0,0,0,0.6);
    font-weight: lighter;
    z-index: 1;
}
.settingsLine{
    width: 190px;
    padding: 5px  5px 10px 5px;
    color: #ebecf4;
    font-variant:small-caps;
    font-size: 18px;

}
.settingsLineH1{
    font-size: 24px;
}
.settingsLine *{
    width:190px;
}

.leftDrawer{
    z-index: 2;
    position: absolute;
    top: 0;
    left: calc(-100%);
    width: 100%;
    height: 100%;
}


.leftDrawer .content{
    z-index: 2;
    color: #ebecf4;
    float: left;
    background-color: #6571be;
    width: calc(100% - 30px);
    height: 100%;
    padding: 15px;
}
.leftDrawer .content h1{
    margin-top: 0;
    color: #ebecf4;
    font-variant:small-caps;
    font-size: 24px;
}
.leftDrawer .content h2{
    margin-top: 0;
    color: #ebecf4;
    font-variant:small-caps;
    font-size: 18px;
}
.openers{
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    float: left;
    width: 30px;
}
.openers .opener{
    color: #ebecf4;
    background-color: #6571be;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    font-size: 15px;
}
.openers .opener:hover{
    background-color: #330099;
    cursor: pointer;

}
.openers .opener:last-child {
    border-bottom-right-radius: 7px;
}



/***************************BUTTONS&CONTROLES IN LEFT DRAWER*****************/
.leftDrawer .controls{
    position: absolute;top: 10px;right: 15px;
}

.leftDrawer  button{
    border: 0 none;
    border-radius: 2px 2px 2px 2px;
    color: #ebecf4;
    cursor: pointer;
    display: inline-block;
    font-family: Arial,sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;
    margin-bottom: 0;
    padding: 7px 10px;
    text-transform: none;
    font-variant:small-caps;
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
}
.leftDrawer .controls  button:disabled {
    background-color: #999999 !important;
}
.leftDrawer .controls button.cancel {
    background: none repeat scroll 0 0 #E0645C;
}
.leftDrawer .controls button.cancel:hover {
    /*background: none repeat scroll 0 0 #999999;*/
    background: none repeat scroll 0 0 #444444;
}
.leftDrawer .controls button.apply {
    background: none repeat scroll 0 0 #46b98a;
}
.leftDrawer .controls button.apply:hover {
    background: none repeat scroll 0 0 #444444;
}

.leftDrawer button {
    background: none repeat scroll 0 0 #2DB6CF;
}
.leftDrawer button:hover {
    background: none repeat scroll 0 0 #444444;
}
/******** LEFT DRAWER INPUTS ************/
.leftDrawer  input, .leftDrawer  select{
    border: 0 none;
    border-radius: 2px 2px 2px 2px;
    color: #444444;
    cursor: pointer;
    display: inline-block;
    font-family: Arial,sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;
    margin-bottom: 0;
    padding: 7px 10px;
    text-transform: none;
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
}

.error{
    display: none;
}