/* 
    Created on : May 2, 2015, 11:39:29 PM
    Author     : Mario Aichinger <aichingm@gmail.com>
*/

html , body, body > canvas{
    margin: 0;
    padding: 0;
}
body > canvas{
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
}

#settings{
    position: fixed;
    top: 0;
    bottom:0;
    right: -200px;
    background-color: #6571be;
    width: 200px;
    box-shadow: -0px 0px 7px 0px rgba(0,0,0,0.6);
    font-weight: lighter;
    z-index: 1;
}
.settingsLine{
    width: 190px;
    padding: 5px  5px 10px 5px;
    color: #ebecf4;
    font-variant:small-caps;
    font-size: 18px;

}
.settingsLineH1{
    font-size: 24px;
}
.settingsLine *{
    width:190px;
}

.leftDrawer{
    z-index: 2;
    position: absolute;
    top: 0;
    left: calc(-100%);
    width: 100%;
    height: 100%;
}


.leftDrawer .content{
    z-index: 2;
    color: #ebecf4;
    float: left;
    background-color: #6571be;
    width: calc(100% - 30px);
    height: 100%;
    padding: 15px;
}
.leftDrawer .content h1{
    margin-top: 0;
    color: #ebecf4;
    font-variant:small-caps;
    font-size: 24px;
}
.leftDrawer .content h2{
    margin-top: 0;
    color: #ebecf4;
    font-variant:small-caps;
    font-size: 18px;
}
.openers{
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    float: left;
    width: 30px;
}
.openers .opener{
    color: #ebecf4;
    background-color: #6571be;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
}
.openers .opener:last-child {
    border-bottom-right-radius: 7px;
}
