
html,body{
    margin: 0;
    padding:0;
}

.ui-overlay{
    position: fixed;
    top:0;
    left: -100%;
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    display: none; 
    background-color: #6571be;
    overflow: auto;
    padding: 15px;
    z-index: 3;
}
.ui-overlay h1{
    margin-top: 0;
    color: #ebecf4;
    font-variant:small-caps;
    font-size: 24px;
}
.ui-overlay h2{
    margin-top: 0;
    color: #ebecf4;
    font-variant:small-caps;
    font-size: 18px;
}
.ui-overlay textarea{
    width: calc(100% - 5px);
    height: calc(100% - 100px);
}
.ui-overlay .controls{
    position: absolute;top: 10px;right: 15px;
}


#bottomLeft{
    position: fixed;
    bottom: 0;
    left: 0;
    float: left;
    z-index: 2;
}
#bottomLeft div{
    float: left;
    margin-right: 5px;
}
#settings{
    position: fixed;
    top: 0;
    bottom:0;
    right: -200px;
    background-color: #6571be;
    width: 200px;
    box-shadow: -0px 0px 7px 0px rgba(0,0,0,0.6);
    font-weight: lighter;

}
.settingsLine{
    width: 190px;
    padding: 5px  5px 10px 5px;
    color: #ebecf4;
    font-variant:small-caps;
    font-size: 18px;

}
.settingsLineH1{
    font-size: 24px;
}
.settingsLine *{
    width:190px;
}


.gradientAB{
    background: linear-gradient( to right, #00CB00, #0000CB);
}
.gradientBA{
    background: linear-gradient( to left, #00CB00, #0000CB);;
}


/***************************BUTTONS IN OVERLAY*****************/

.ui-overlay  button{
    border: 0 none;
    border-radius: 2px 2px 2px 2px;
    color: #ebecf4;
    cursor: pointer;
    display: inline-block;
    font-family: Arial,sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;
    margin-bottom: 0;
    padding: 7px 10px;
    text-transform: none;
    font-variant:small-caps;
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
}
.ui-overlay .controls button.cancel {
    background: none repeat scroll 0 0 #E0645C;
}
.ui-overlay .controls button.cancel:hover {
    /*background: none repeat scroll 0 0 #999999;*/
    background: none repeat scroll 0 0 #444444;
}
.ui-overlay .controls button.apply {
    background: none repeat scroll 0 0 #46b98a;
}
.ui-overlay .controls button.apply:hover {
    background: none repeat scroll 0 0 #444444;
}

.ui-overlay button {
    background: none repeat scroll 0 0 #2DB6CF;
}
.ui-overlay button:hover {
    background: none repeat scroll 0 0 #444444;
}

/******** OVERLAY INPUTS ************/
.ui-overlay  input, .ui-overlay  select{
    border: 0 none;
    border-radius: 2px 2px 2px 2px;
    color: #444444;
    cursor: pointer;
    display: inline-block;
    font-family: Arial,sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;
    margin-bottom: 0;
    padding: 7px 10px;
    text-transform: none;
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
}


/******** OVERLAY TABLES ************/

.ui-overlay table {
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    overflow: auto;
    width: 100%;
    border: none;
    margin: 0;
    padding: 0;
}
.ui-overlay table thead tr td {
    /*background-color: rgb(112, 196, 105);*/
    background-color:#444444;

    font-weight: normal;
    color: #ebecf4;
    padding: 5px 5px;
    text-align: center;
}
.ui-overlay table td {
    /*background-color: rgb(238, 238, 238);*/
    background-color:#999999;
    padding: 5px 5px;
    /*color: rgb(111, 111, 111);*/
    color: #ebecf4;
}
.ui-overlay table td.center {
    font-weight: normal;
    text-align: center;
}